name: QEMU Tailscale Fixed

on: workflow_dispatch

jobs:
  run-win11:
    runs-on: macos-13
    
    steps:
    - name: Install QEMU
      run: brew install qemu

    - name: Download Win11 ISO
      # لینک مستقیم دانلود ISO را اینجا بگذارید
      run: |
        curl -L -o win11.iso "https://software.download.prss.microsoft.com/dbazure/Win11_25H2_English_x64.iso?t=4680c4ce-b0ab-4c61-87e7-0df9bbd03422&P1=1763874804&P2=601&P3=2&P4=eG2bQk2alRkObmsUkNQL%2fxPCxY%2bl%2blRpgusDR8wSJXXPbfnH9t6zzT9hqkAGwTQjWlUHvKMrFoqlVh351E22VapPP36IftbxgF69GxDwb2Lx2zwD71lpyhF217zJ%2fu91E12c9a4W2uln%2bqW5gtbArOSFgfSsPp23094O7oe47L4EKQN9uLbxm066%2fpYUjKGKrbcRpsU18BXHGgHVwonX1AXH58hQ19lg7LI1pz%2bWJsKyw6KsPhfBzKqn5tCohA%2bntgi9Ddx5y2PyjqgEBcs%2fWBkqR6CQGekomOyiCZDdWJwoJR6c9d%2fvhyIaUGsehWeTrv1GlpUZYEKjE7elRlHOPQ%3d%3d"

    - name: Create Disk
      run: qemu-img create -f qcow2 windows.qcow2 40G

    - name: Setup Tailscale (Safe Mode)
      # این روش امن‌ترین راه برای جلوگیری از ارور سینتکس است
      env:
        TS_KEY: ${{ secrets.TAILSCALE_AUTHKEY }}
      run: |
        brew install tailscale
        sudo tailscaled > tailscaled.log 2>&1 &
        sleep 15
        sudo tailscale up --authkey="$TS_KEY" --hostname="macos-win11-runner"

    - name: Get Connection Info
      run: |
        TS_IP=$(tailscale ip -4)
        echo "----------------------------------------"
        echo "Connect VNC to: $TS_IP:5900"
        echo "----------------------------------------"

    - name: Start VM
      run: |
        sudo qemu-system-x86_64 \
          -m 6G \
          -smp 4 \
          -cpu host \
          -accel hvf \
          -drive file=windows.qcow2,if=virtio \
          -cdrom win11.iso \
          -boot d \
          -vga virtio \
          -display vnc=:0 \
          -usb -device usb-tablet
          
